.menu
    each track in tracks
        div(class=track)
            each episode in menu[track]
                .choice(data-enabled=episode.enabled)
                    a(href=episode.pkg.name)= episode.pkg.name
                    ul.provides
                        each p in episode.pkg.brain.provides || []
                            li= p
                    ul.requires
                        each p in episode.pkg.brain.requires || []
                            li= p
