.menu
    ul.tracks
        each track in tracks
            li(class=track)
                h1= track
                ul.choices
                    each episode in menu[track]
                        li.choice(data-enabled=episode.enabled)
                            button(name=episode.pkg.name)= episode.pkg.name
                            if episode.pkg.description
                                .description= " – " + episode.pkg.description
                            ul.provides
                                each p in episode.pkg.brain.provides || []
                                    li= p
                            ul.requires
                                each p in episode.pkg.brain.requires || []
                                    li= p
